{% extends "base.html" %}
{% block body %}
    <h2>Your Upcoming Bookings</h2>
    {% for booking in bookings %}
        <div class="bg-light p-3 mb-3">
            <h6>{{ booking.booking_date }}</h6>
            <h6>{{ booking.start_time }} to {{ booking.end_time }}</h6>
            <p>By {{ booking.user.name }}</p>
            <p>Purpose: {{ booking.purpose }}<br>
                Group Name: {{ booking.group_name }}<br>
                Comments: {{ booking.comments }}<br>
                No. of Yale-NUS Users: {{ booking.number_of_yale_nus_users }}<br>
                No. of External Users: {{ booking.number_of_external_users }}<br>
                Equipment Used: {{ booking.equipment_used }}
            </p>

        </div>
    {% endfor %}
    <h2>Past Bookings</h2>
{% endblock body %}