{% extends "base.html" %}
{% load static %}
{% block title %}Calendar{% endblock %}
{% block head %}
    <link href="{% static "fullcalendar/main.min.css" %}" rel='stylesheet'/>
    <script src="{% static "fullcalendar/main.min.js" %}"></script>
    <script>


    document.addEventListener('DOMContentLoaded', function () {
            const calendarEl = document.getElementById('calendar');

            const calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'timeGridWeek',
                firstDay: 1,
                {% if user.is_authenticated %}
                selectable: true,
                {% endif %}
                selectMirror: true,
                selectOverlap: false,
                nowIndicator: true,
                allDaySlot: false,
                events: '{% url "get-bookings" %}',
                selectAllow: function(arg) {
                    return !(arg.start.getDate() !== arg.end.getDate() && arg.end.getHours() !== 0);
                },
                select: function (arg) {
                    $('#date-selected-modal').modal()
                    document.querySelector("#booking-date").innerHTML = FullCalendar.formatDate(arg.start, {
                        month: 'short',
                        year: 'numeric',
                        day: '2-digit',
                    });
                    let start_time = FullCalendar.formatDate(arg.start, {
                        hour: '2-digit',
                        minute: '2-digit',
                        hour12: false,
                    });
                    let end_time = FullCalendar.formatDate(arg.end, {
                        hour: '2-digit',
                        minute: '2-digit',
                        hour12: false,
                    });
                    if (start_time.slice(0, 2) === "24") {
                        start_time = "00" + start_time.slice(2, 5)
                    }
                    if (end_time === "24:00") {
                        end_time = "23:59"
                    }
                    if (end_time.slice(0, 2) === "24") {
                        end_time = "00" + end_time.slice(2, 5)
                    }
                    document.querySelector("#booking-start-time").innerHTML = `Start: ${start_time}`;
                    document.querySelector("#booking-end-time").innerHTML = `End: ${end_time}`;
                    document.querySelector("#input-date").value = FullCalendar.formatDate(arg.start, {
                        month: '2-digit',
                        year: 'numeric',
                        day: '2-digit',
                    }); // mm/dd/yyyy
                    document.querySelector("#input-start-time").value = start_time; // HH:MM
                    document.querySelector("#input-end-time").value = end_time; // HH:MM
                    calendar.unselect()
                },
            });

            calendar.render();
        });
    </script>
{% endblock %}
{% block body %}
    <h1 class="mb-3">PR5 Calendar</h1>
    {% if user.is_authenticated %}
        <h5 class="mb-0">Click and drag to make a booking!</h5>
        <p>Note that your booking MUST start and end within the same day. You also cannot book a slot that is pending or already confirmed.</p>
        <h6>Legend:</h6>
        <p>
            <span class="badge text-white p-3 mb-1" style="background-color: #3788d8">Approved Booking</span>
            <span class="badge text-white p-3 mb-1" style="background-color: #28a745">Approved Booking (Yours)</span>
            <span class="badge p-3 mb-1" style="background-color: #ffe859">Pending Booking</span>
            <span class="badge p-3 mb-1" style="background-color: #ff9e60">Pending Booking (Yours)</span>
        </p>
    {% endif %}
    <div id='calendar'></div>

    <div class="modal fade" id="different-day-error-modal" tabindex="-1" role="dialog"
         aria-labelledby="different-day-error-modal-label"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="different-day-error-modal-label">Error</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Booking must start and end on the same day. Please select again.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="date-selected-modal" tabindex="-1" role="dialog"
         aria-labelledby="different-day-error-modal-label"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="different-day-error-modal-label">Make a Booking</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>You have selected the following dates and times:</p>
                    <h5 id="booking-date"></h5>
                    <h5 id="booking-start-time">Start: </h5>
                    <h5 id="booking-end-time">End: </h5>
                </div>
                <div class="modal-footer">
                    <form method="get" action="{% url "make-booking" %}">
                        <input type="hidden" id="input-date" name="booking_date">
                        <input type="hidden" id="input-start-time" name="start_time">
                        <input type="hidden" id="input-end-time" name="end_time">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Proceed</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}