{% extends "registration/password_reset_layout.html" %}
{% load static %}

{% block title %}
    Reset Password
{% endblock %}
{% block content %}
    <h1 class="mb-4">Reset Password</h1>
    <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>

    <form method="post">{% csrf_token %}
        <fieldset class="module aligned">
            <div class="form-group field-email">
                {% styled_field form.email class="form-control" placeholder="Email address" error_class="is-invalid" %}
                <div class="invalid-feedback">
                    {{ form.email.errors }}
                </div>
            </div>
            <input type="submit" class="btn btn-primary" value="Reset password">
        </fieldset>
    </form>
{% endblock %}